@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';



@import 'base/variables';

@import 'blocks/advantages';
@import 'blocks/delivery';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/catalog';
@import 'blocks/form';
@import 'blocks/manage';
@import 'blocks/plan';
@import 'blocks/feedback';
@import 'blocks/carousel';
@import 'blocks/footer';
@import 'blocks/pageup';

* {
    font-family: 'Roboto';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
} 
.map {
    height: 500px;
}



@import 'base/media';