.manage {
    width: 100%;
    height: 342px;
    background: url(../img/main4.png) center (center/cover) no-repeat;
    text-align: center;
    &__icon {
        margin-top: 62px;
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 20px;
    }
    &__title {
        margin-top: 25px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
    }
    &__descr {
        margin: 0 auto;
        max-width: 924px;
        margin-top: 18px;
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
    }
     
}
